BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Right
AlignTrailingComments: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
NamespaceIndentation: All
FixNamespaceComments: false
CompactNamespaces: true
AllowShortLambdasOnASingleLine: None
MaxEmptyLinesToKeep: 1
AccessModifierOffset: -4
AlignOperands: false
